.footer {
    &__wrapper {
        background: #1E1E1E;
        padding-top: 91px;
        padding-bottom: 30px;

        .nav {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 43px;
            display: flex;

            

            @media (max-width: $bp__lg) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }

            .logo__container {
                display: flex;
                justify-content: center;

                @media (max-width: $bp__lg) {
                    margin-bottom: 20px;
                }

                .nav__logo {
                    width: 62px;
                    height: 61px;
                    @include image("nav__logo.png");
                    margin-right: 11px;
                }
    

                span {
                    font-family: 'Bai Jamjuree', sans-serif;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.03em;
                    color: #fff;
                    font-weight: 500;
                    @media (max-width: $bp__xs) {
                        display: block;
                    }
                }
            }
            &__list {
                padding: 0;
                display: flex;
                color: #fff;
                text-transform: none;

                @media (max-width: $bp__lg) {
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 20px;
                }

                li {
                    font-size: 14px;
                    color: #fff;
                    margin: 0 20px;

                    list-style: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    @media (max-width: $bp__xl) {
                        margin: 0 10px;
                    }
                    @media (max-width: $bp__lg) {
                        margin-bottom: 10px;
                    }
                }
            }

            .btn_buy {
                background: transparent;
                border: 1px solid #fff;
                
                &:hover {
                    background: #fff;
                }
                @media (max-width: $bp__lg) {
                    margin-right: 0;
                }
            }
        }

        &>a {
            display: block;
            font-style: normal;
            font-weight: 300;
            font-size: 14.4px;
            line-height: 22px;
            text-align: center;
            color: #8A8A8A;


            span {
                display: block;
                text-align: center;
                color: #a990ff;
            }
        }
    }
}