.header {
    position: relative;
    &__wrapper {
        position: relative;
        background: #FEFCFD;
        overflow: hidden;
        padding-top: 224px;
        padding-bottom: 115px;

        @media (max-width: $bp__lg) {
            padding-top: 70px;
            padding-bottom: 75px;
        }

        @media (max-width: $bp__md) {
            padding-bottom: 75px;
        }

        @media (max-width: $bp__sm) {
            padding-top: 100px;
        }
    }

    &__block {
        position: relative;
        z-index: 4;

        @media (max-width: $bp__md) {
            width: 100%;
            margin-top: 430px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            max-width: 743px;
            font-size: 50px;
            line-height: 130%;
            text-transform: uppercase;
            color: #242C6C;
            position: relative;
            margin-bottom: 20px;

            @media (max-width: $bp__md) {
                max-width: 100%;
                font-size: 40px;
                text-align: center;
                margin: 0;
            }

            @media (max-width: $bp__sm) {
                text-align: center;
                font-size: 36px;
                margin-bottom: 10px;
            }
        }

        p {
            font-size: 20px;
            line-height: 150%;
            color: #A0712D;
            margin-bottom: 42px;
            position: relative;

            @media (max-width: $bp__md) {
                margin: 0;
                margin-bottom: 20px;
            }
            @media (max-width: $bp__sm) {
                text-align: center;
                margin-bottom: 15px;
            }
        }

        .btn_shop {
            position: relative;
            background: #CF2F47;
            border-radius: 10px;
            width: 260px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 16px;
            line-height: 55px;
            text-align: center;
            color: #FFFFFF;
            transition: .5s;
            margin-bottom: 181px;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover {
                color: #CF2F47;
                border: 1px solid #CF2F47;
                background: #fff;
            }

            @media (max-width: $bp__md) {
                margin-bottom: 60px;
            }
        }

    }

    &__img {
        position: absolute;
        top: -50px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;

        @media (max-width: $bp__xl) {
            right: -250px;
        }
        @media (max-width: $bp__lg) {
            right: -150px;
            opacity: .6;
        }

        
        @media (max-width: $bp__md) {
            right: 0;
            left: 0;
            margin: auto;
            top: -380px;
        }

        img {
            position: relative;
            z-index: 2;
        }

        &:before {
            content: '';
            position: absolute;
            width: 764px;
            height: 763px;
            z-index: 1;
            @include image("header__img_bg.svg");
        }

        &>span {
            position: absolute;
            z-index: 2;
            bottom: 40px;
            right: 70px;
            width: 192px;
            font-size: 12px;
            line-height: 130%;
            color: rgba(0, 0, 0, 0.15);

            @include fw(400);
        }
    }

    &__icons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: $bp__md) {
            width: 280px;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }

        @media (max-width: $bp__sm) {
            padding-bottom: 50px;
        }

        &>div {
            display: flex;
            align-items: center;

            span {
                color: $primary__color_lighter;
                font-size: 14px;
            }

            .icon {
                &__container {
                    background: #FFFFFF;
                    border: 0.8px solid #E5E5E5;
                    box-sizing: border-box;
                    box-shadow: -3px 3px 9px rgba(0, 0, 0, 0.1);
                    border-radius: 6px;
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                }
            }

            &:not(:last-child) {
                @media (max-width: $bp__md) {
                    margin-bottom: 25px;
                }
            }

            &:nth-child(1) {
                .icon__container {
                    .icon {
                        width: 35px;
                        height: 36px;
                        @include image("header__calendar.svg");
                    }
                }

                span {
                    max-width: 170px;
                }
            }

            &:nth-child(2) {
                .icon__container {
                    .icon {
                        width: 33px;
                        height: 33px;
                        @include image("header__list.svg");
                    }
                }

                span {
                    max-width: 128px;
                }
            }

            &:nth-child(3) {
                .icon__container {
                    .icon {
                        width: 30px;
                        height: 30px;
                        @include image("header__green.svg");
                    }
                }

                span {
                    max-width: 153px;
                }
            }

            &:nth-child(4) {
                .icon__container {
                    .icon {
                        width: 34px;
                        height: 34px;
                        @include image("header__family.svg");
                    }
                }

                span {
                    max-width: 216px;
                }
            }
        }

    }
}