.lacto {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $bp__lg) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: $bp__sm) {
        justify-content: flex-start;
    }
    &__wrapper {
        overflow: hidden;
        position: relative;
        padding-top: 173px;
        padding-bottom: 155px;
        background: #fff;

        @include image("lacto__bg.png", cover);

        &:not(.lacto__wrapper_complete) {
            &:before {
                content: '';
                position: absolute;
                top: 18px;
                left: 0;
                width: 162px;
                height: 530px;
                z-index: 1;

                @include image("lacto__left.svg");
            }
        }

        &_complete {
            background: radial-gradient(48.37% 107.29% at 48.37% 37.44%, rgba(255, 198, 198, 0.2) 33.85%, rgba(242, 242, 250, 0.2) 100%), rgba(255, 245, 231, 0.65);
        }
    }

    &_complete {
        
        @media (max-width: $bp__lg) {
            flex-direction: column-reverse;
        }
        .buy__useBlock {
            @media (max-width: $bp__xl) {
                left: 0px;
            }
        }
        .lacto__image {
            .enough {
                @include image("lacto__enough_c.svg");
                right: auto;
                left: 50px;
                @media (max-width: $bp__xl) {
                    left: -20px;
                }
                @media (max-width: $bp__sm) {
                    left: 60px;
                }
                &>p {
                    margin-left: 0px;
                    margin-right: 40px;
                    &:nth-child(1) {
                        margin-left: 0px;
                        margin-right: 60px;
                    }
    
                    &:nth-child(3) {
                        margin-left: 0px;
                    }
                }
            }

            img {
                max-width: 212px;
                max-height: 321px;
            }
        }
    }

    &__image {
        width: 449px;
        height: 482px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 81px;

        @media (max-width: $bp__lg) {
            margin-right: 0;
        }
        @media (max-width: $bp__md) {
            height: 250px;
        }
        &:before {
            content: '';
            width: 449px;
            height: 482px;
            position: absolute;
            top: 0;
            z-index: 1;

            @include image("lacto__img_bg.svg");
        }

        &:after {
            content: 'Биологически активная добавка к пище. Не является лекарством';
            position: relative;
            bottom: 10px;
            display: block;
            width: 192px;
            height: 32px;
            font-size: 12px;
            line-height: 130%;
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0, 0.5);

            @include fw(400);
        }

        img {
            position: relative;
            z-index: 3;
            max-width: 215px;
            max-height: 326px;
            @media (max-width: $bp__sm) {
                max-width: 174px;
            }
        }

        .enough {
            z-index: 2;
            position: absolute;
            right: 50px;
            top: 100px;
            width: 165px;
            height: 136px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include image("lacto__enough.svg");
            @media (max-width: $bp__xl) {
                right: -20px;
            }
            @media (max-width: $bp__sm) {
                right: 60px;
                top: 72px;
            }

            &>p {
                margin: 0;
                margin-left: 35px;
                font-size: 10px;
                line-height: 130%;
                color: #AD9A81;

                @include fw(300);

                &:nth-child(1) {
                    margin-left: 15px;
                }

                &:nth-child(2) {
                    display: flex;
                    align-items: start;
                    @include fw(700);
                    position: relative;
                    top: 5px;
                }

                &:nth-child(3) {
                    margin-left: 40px;
                    font-size: 9px;
                }

                &>span {
                    font-size: 48px;
                    line-height: 100%;
                    color: #954145;
                    position: relative;
                    top: -5px;
                }
            }
        }

    }
}

.buy {
    position: relative;
    top: 50px;
    max-width: 616px;

    @media (max-width: $bp__md) {
        z-index: 5;
    }
    @media (max-width: $bp__md) {
        max-width: 100%;
    }
    h2 {
        font-size: 42px;
        line-height: 130%;
        color: #DC0D17;
        margin-bottom: 18px;
        @media (max-width: $bp__sm) {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    h2+p {
        font-size: 16px;
        line-height: 130%;
        color: #A0712D;
        margin-bottom: 35px;
        text-align: left;

        @include fw(400);
    }

    &__icons {
        display: flex;
        margin-bottom: 20px;

        @media (max-width: $bp__sm) {
            flex-direction: column;
        }
        .wildberries {
            width: 212px;
            height: 50px;
            margin-right: 25px;
            background: linear-gradient(180deg, #FFF2FD 0%, #FFFFFF 100%);
            border: 0.6px solid rgba(244, 244, 244, 0.36);
            box-sizing: border-box;
            box-shadow: 0px 1px 5px 5px rgba(190, 17, 165, 0.04);
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .5s;
            &:hover {
                border: 0.6px solid #bb12a0;
            }

            @media (max-width: $bp__sm) {
                margin-right: 0px;
                margin-bottom: 10px;
                width: 100%;
            }
            &:before {
                content: '';
                position: relative;
                display: block;
                width: 121px;
                height: 33px;

                @include image("buy__wildberries.svg");
            }
        }

        .ozon {
            width: 212px;
            height: 50px;
            background: linear-gradient(180deg, #DDEBFF 0%, #FFFFFF 100%);
            border: 0.6px solid rgba(244, 244, 244, 0.36);
            box-sizing: border-box;
            box-shadow: 0px 1px 5px 5px rgba(241, 247, 253, 0.25);
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .5s;
            &:hover {
                border: 0.6px solid #064bf3;
            }
            @media (max-width: $bp__sm) {
                width: 100%;
            }
            &:before {
                content: '';
                position: relative;
                display: block;
                width: 87px;
                height: 27px;

                @include image("buy__ozon.svg");
            }
        }
    }

    &__links {
        display: flex;

        @media (max-width: $bp__md) {
            align-items: center;
            width: 100%;
            justify-content: center;
        }

        @media (max-width: $bp__sm) {
            flex-direction: column-reverse;
        }

        &>p {
            margin: 0;
        }
        .use {
            position: relative;
            cursor: pointer;
            font-size: 14px;
            line-height: 130%;
            display: flex;
            align-items: center;
            font-style: italic;
            color: rgba(12, 73, 194, 0.75);

            @include fw(300);
            @include fw(400);
            text-decoration: underline;
            text-decoration-style: dashed;
            margin-right: 89px;
            margin-left: 20px;
            margin-bottom: 10px;

            &.active {
                color: rgba(47, 67, 105, 0.75);
            }


            &:before {
                content: '';
                position: absolute;
                left: -20px;
                width: 14px;
                height: 14px;
                
                @include image("buy__use.svg");
            }
            @media (max-width: $bp__md) {
                margin-left: 0;
            }
            @media (max-width: $bp__sm) {
                text-align: center;
                margin: auto;
                margin-bottom: 10px;
            }
        }

        .docs {
            width: fit-content;
            position: relative;
            cursor: pointer;
            font-size: 12px;
            line-height: 150%;
            color: #9297A4;
            font-style: italic;

            @include fw(400);
            text-decoration: underline;
            text-decoration-style: dashed;
            &:before {
                content: '';
                position: absolute;
                top: -2px;
                left: -25px;
                width: 16px;
                height: 20px;
                
                @include image("buy__instr.svg");
            }
            @media (max-width: $bp__sm) {
                margin: 0;
                text-align: center;
                margin: auto;
                margin-bottom: 5px;
            }
        }
    }

    &__useBlock {
        z-index: 3;
        max-width: 642px;
        min-width: 642px;
        height: 239px;
        width: 100%;
        position: relative;
        left: -100px;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        border: 0.7px solid #E5E5E5;
        padding: 5px 42px 11px 42px;
        box-sizing: border-box;
        border-radius: 30px;

        @media (max-width: $bp__lg) {
            left: 0px;
        }
        @media (max-width: $bp__md) {
            min-width: fit-content;
            max-width: fit-content;
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            &.hidden {
                opacity: 0;
                display: none;
            }
        }
        &.hidden {
            opacity: 0;
        }

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (max-width: $bp__md) {
                &:not(:first-child) {
                    margin-bottom: 20px;
                }
            }

            .icon {
                width: 85px;
                height: 85px;
                margin-bottom: 4px;
            }

            .title {
                font-size: 16px;
                line-height: 130%;
                color: #000000;
                text-align: center;

                @include fw(700);
                margin: 0;
                margin-bottom: 16px;
            }

            .drops {
                margin-bottom: 11px;
            }

            .text {
                border: 0.5px dashed #C4C4C4;
                box-sizing: border-box;
                border-radius: 30px;
                font-size: 16px;
                line-height: 130%;
                color: #747E94;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 29px;
                margin: 0;
            }

            &:nth-child(1) {
                width: 157px;
                .icon {
                    @include image("lacto__kid1.svg");
                    margin-bottom: 6px;
                }

                .drops {
                    width: 155px;
                    height: 33px;
                    @include image("lacto__drops1.svg");
                }
                .text {
                    width: 157px;
                }
            }

            &:nth-child(2) {
                width: 184px;
                .icon {
                    @include image("lacto__kid2.png");
                }

                .drops {
                    width: 155px;
                    height: 33px;
                    @include image("lacto__drops2.svg");
                }

                .text {
                    width: 184px;
                }
            }

            &:nth-child(3) {
                width: 184px;
                .icon {
                    @include image("lacto__kid3.png");
                }
                .title {
                    margin-bottom: 34px;
                    &.dropsComplete {
                        margin-bottom: 10px;
                    }
                }

                .drops {
                    width: 155px;
                    height: 33px;
                    @include image("lacto__drops2.svg");
                    &.dropsComplete {
                        width: 162px;
                        height: 61px;
                        @include image("lacto__drops3.svg");
                    }
                }
                
                .text {
                    width: 184px;
                }
            }
        }
    }
}