.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__wrapper {
        position: fixed;
        width: 100%;
        background: #FEFCFD;
        padding: 20px 0;
        box-sizing: border-box;
        z-index: 10000;

        .mobileNav__wrapper {
            color: #232323;
            display: block;
            &.hidden {
                display: none;
            }
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    font-size: 18px;
                    margin-bottom: 15px;
                }
            }
        }

    }
    .logo__container {
        display: flex;
        align-items: center;
        .logo {
            width: 62px;
            height: 61px;
            @include image("nav__logo.png");
            margin-right: 11px;
        }

        span {
            font-family: 'Bai Jamjuree', sans-serif;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.03em;
            color: #0A1046;
            font-weight: 500;
            @media (max-width: $bp__xs) {
                display: none;
            }
        }
    }
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            @media (max-width: $bp__lg) {
                display: none;
            }
            li {
                margin: 0 20px;
                color: #000;
                list-style: none;
                position: relative;
                font-size: 14px;
                line-height: 22px; 
                @include fw(400);
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: $bp__xl) {
                    margin: 0 10px;
                }
                
                &:hover {
                    @include fw(700);
                    color: #B56D0B;
                }

                &>.active {
                    @include fw(700);
                    color: #B56D0B;
                }

                &:nth-child(1) {
                    width: 82px;
                }

                &:nth-child(2) {
                    width: 186px;
                }

                &:nth-child(3) {
                    width: 55px;
                }

                &:nth-child(4) {
                    width: 62px;
                }

                &:nth-child(5) {
                    width: 66px;
                }
            }
        }

        .burger {
            display: none;
            @media (max-width: $bp__lg) {
                display: flex;
            }
            position: relative;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 30px;
            cursor: pointer;
            transition: .4s;
            z-index: 1002;
            margin-left: 20px;
            &__icon {
                display: block;
                position: relative;
                bottom: 8px;
                background: #004577;
                width: 90%;
                height: 2px;
                transition: .4s;

                &::after,
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: #004577;
                    width: 100%;
                    height: 2px;
                    transition: .4s;
                    right: 0;
                }

                &::after {
                    top: 8px;
                    width: 80%;
                }
                &::before {
                    top: 16px;
                    width: 50%;
                }
            }

            &.active>.burger__icon {
                background: transparent;

                &::before,
                &::after {
                    top: 8px;
                    width: 100%;
                }

                &::after {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }

                &::before {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
        }
    }

    .btn_buy {
        transition: .5s;
        border: 1px solid transparent;
        &:hover {
            color: #313131;
            border: 1px solid #313131;
            background: #fff;
        }
    }
}
