.need {
    position: relative;

    &__wrapper {
        overflow: hidden;
        padding-top: 125px;
        padding-bottom: 50px;
        background: rgba(183, 228, 255, .7);
    }

    &:before {
        content: '';
        position: absolute;
        top: -120px;
        left: -200px;
        width: 218px;
        height: 830px;
        z-index: 1;
        @include image("need__border.svg");
    }

    &:after {
        content: '';
        position: absolute;
        top: -120px;
        right: -200px;
        width: 218px;
        height: 830px;
        z-index: 1;
        @include image("need__border.svg");
    }

    h2 {
        position: relative;
        text-align: center;
        margin-bottom: 10px;

        &:after {
            content: '';
            position: absolute;
            top: -20px;
            right: 100px;
            width: 131px;
            height: 94px;
            z-index: -1;
            @include image("need__blur.png");
        }
    }

    h2+p {
        max-width: 569px;
        margin: auto;
        margin-bottom: 103px;
    }

    .title {
        font-size: 28px;
        line-height: 140%;
        color: #6F6CB9;
        margin-bottom: 5px;

        @include fw(600);
        @media (max-width: $bp__sm) {
          font-size: 20px;
          margin-bottom: 0;
        }
    }

    .text {
        font-size: 16px;
        line-height: 150%;
        color: #4B4B4B;

        @include fw(400);
        @media (max-width: $bp__sm) {
          margin-top: 5px;
        }
    }

    &>div {
        z-index: 2;
        max-width: 1040px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>div {
            &:not(.image) {
                max-width: 508px;
                z-index: 4;
            }

            &.image {
                position: relative;
            }
        }
    }

    &__micro {
        position: relative;
        z-index: 4;

        @media (max-width: $bp__lg) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &:before {
            content: '';
            position: absolute;
            top: -50px;
            left: 0px;
            width: 83px;
            height: 59px;
            z-index: -1;
            @media (max-width: $bp__lg) {
                opacity: .5;
            }
            @include image("need__blur.png");
        }

        &:after {
            content: '';
            position: absolute;
            top: 250px;
            left: 0px;
            width: 83px;
            height: 59px;
            z-index: -1;
            @media (max-width: $bp__lg) {
                opacity: .5;
            }
            @include image("need__blur.png");
        }

        .image {
            position: relative;

            &:before {
                content: '';
                width: 413px;
                height: 311px;
                position: absolute;
                top: -50px;
                z-index: 1;

                @include image("need__micro_bg.svg");
                @media (max-width: $bp__sm) {
                    opacity: .8;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 250px;
                right: 0px;
                width: 83px;
                height: 59px;
                z-index: -1;
                @media (max-width: $bp__lg) {
                    opacity: .5;
                }
                @include image("need__blur.png");
            }

            img {
                position: relative;
                z-index: 2;
            }
        }

        .text {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 120px;
                right: -70px;
                width: 118px;
                height: 84px;
                z-index: -1;
                @media (max-width: $bp__lg) {
                    opacity: .5;
                }
                @include image("need__blur.png");
            }
        }
    }

    &__kid {
        position: relative;
        z-index: 4;

        @media (max-width: $bp__lg) {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 00px;
            left: -260px;
            width: 222px;
            height: 158px;
            z-index: -1;
            @media (max-width: $bp__lg) {
                opacity: .5;
            }
            @include image("need__blur.png");
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 320px;
            right: -60px;
            width: 59px;
            height: 42px;
            z-index: -1;
            @media (max-width: $bp__lg) {
                opacity: .5;
            }
            @include image("need__blur.png");
        }

        .title {
            color: #E7AF6B;
        }

        .image {
            position: relative;

            &:before {
                content: '';
                width: 363px;
                height: 401px;
                position: absolute;
                top: 50px;
                right: 0;
                z-index: 1;

                @include image("need__kid_bg.svg");
                @media (max-width: $bp__sm) {
                    opacity: .8;
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 160px;
                right: 20px;
                width: 95px;
                height: 68px;
                z-index: -1;
                @media (max-width: $bp__lg) {
                    opacity: .5;
                }
                @include image("need__blur.png");
            }

            img {
                position: relative;
                z-index: 2;
                @media (max-width: $bp__lg) {
                    width: 400px;
                }
            }
        }
    }
}