.need {
    position: relative;
    z-index: 4;
    &__wrapper {
        position: relative;
        overflow: hidden;
        padding-top: 125px;
        padding-bottom: 50px;

        @media (max-width: $bp__sm) {
            padding-top: 75px;
        }
        &>.container {
            position: relative;
            .blur {
                &:nth-child(1) {
                    position: absolute;
                    top: 6px;
                    right: 50px;
                    width: 131px;
                    height: 94px;
                    z-index: -1;
                    @include image("need__blur.png");
                }
                &:nth-child(2) {
                    position: absolute;
                    top: 420px;
                    left: 120px;
                    width: 70px;
                    height: 94px;
                    z-index: -1;
                    @include image("need__blur.png");
                }
                &:nth-child(3) {
                    position: absolute;
                    top: 120px;
                    left: 150px;
                    width: 70px;
                    height: 94px;
                    z-index: -1;
                    @include image("need__blur.png");
                }
                &:nth-child(4) {
                    position: absolute;
                    top: 450px;
                    left: 400px;
                    width: 70px;
                    height: 94px;
                    z-index: -1;
                    @include image("need__blur.png");
                }
                &:nth-child(5) {
                    position: absolute;
                    top: 850px;
                    right: 125px;
                    width: 70px;
                    height: 94px;
                    z-index: -1;
                    @include image("need__blur.png");
                }
                &:nth-child(6) {
                    position: absolute;
                    top: 675px;
                    right: 50px;
                    width: 50px;
                    height: 94px;
                    z-index: -1;
                    @include image("need__blur.png");
                }
                &:nth-child(7) {
                    position: absolute;
                    top: 500px;
                    right: 0px;
                    width: 125px;
                    height: 94px;
                    z-index: -1;
                    @include image("need__blur.png");
                }
                &:nth-child(8) {
                    position: absolute;
                    top: 950px;
                    left: -100px;
                    width: 170px;
                    height: 120px;
                    z-index: -1;
                    @include image("need__blur.png");
                }
            }
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 2000px;
        z-index: 2;
        background: rgba(255, 255, 255, .9);
    }

    &:before {
        content: '';
        position: absolute;
        top: -120px;
        left: -200px;
        width: 218px;
        height: 830px;
        z-index: 1;
        @include image("need__border.svg");
    }

    &:after {
        content: '';
        position: absolute;
        top: -120px;
        right: -200px;
        width: 218px;
        height: 830px;
        z-index: 1;
        @include image("need__border.svg");
    }

    h2 {
        z-index: 2;
        position: relative;
        text-align: center;
        margin-bottom: 10px;
    }

    h2+p {
        max-width: 569px;
        margin: auto;
        margin-bottom: 103px;
    }

    .title {
        font-size: 28px;
        line-height: 140%;
        color: #6F6CB9;
        margin-bottom: 5px;

        @include fw(600);
        @media (max-width: $bp__sm) {
          font-size: 20px;
          margin-bottom: 0;
        }
    }

    .text {
        font-size: 16px;
        line-height: 150%;
        color: #4B4B4B;

        @include fw(400);
        @media (max-width: $bp__sm) {
          margin-top: 5px;
        }
    }

    &>div {
        z-index: 2;
        max-width: 1040px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>div {
            &:not(.image) {
                max-width: 508px;
                z-index: 4;
            }

            &.image {
                position: relative;
            }
        }
    }

    &__micro {
        position: relative;
        z-index: 4;

        @media (max-width: $bp__lg) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .image {
            position: relative;

            &:before {
                content: '';
                width: 413px;
                height: 311px;
                position: absolute;
                top: -50px;
                z-index: 1;

                @include image("need__micro_bg.svg");
                @media (max-width: $bp__sm) {
                    opacity: .8;
                }
            }

            img {
                position: relative;
                z-index: 2;
            }
        }

        .text {
            position: relative;

        }
    }

    &__kid {
        position: relative;
        z-index: 4;

        @media (max-width: $bp__lg) {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }


        .title {
            color: #E7AF6B;
        }

        .image {
            position: relative;

            &:before {
                content: '';
                width: 363px;
                height: 401px;
                position: absolute;
                top: 50px;
                right: 0;
                z-index: 1;

                @include image("need__kid_bg.svg");
                @media (max-width: $bp__sm) {
                    opacity: .8;
                    top: 20px;
                }
            }


            img {
                position: relative;
                z-index: 2;
                @media (max-width: $bp__lg) {
                    width: 400px;
                }
            }
        }
    }
}