.time {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $bp__lg) {
        flex-direction: column-reverse;
        justify-content: center;
    }

    &__wrapper {
        position: relative;
        padding-top: 108px;
        padding-bottom: 130px;
        background: #E8EBFF;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: -200px;
            right: 0;
            width: 586px;
            height: 881px;
            z-index: 1;

            @include image("time__vector.svg");
        }

        @media (max-width: $bp__sm) {
            padding-top: 50px;
        }

    }

    .img {
        position: absolute;
        right: -100px;
        top: -30px;
        width: 569px;
        max-width: 100%;
        height: 378px;
        background: url("../images/time__img.png");
        z-index: 2;

        @media (max-width: $bp__lg) {
            margin-bottom: 25px;
        }
    }

    &__block {
        max-width: 100%;

        @media (max-width: $bp__lg) {
            width: 100%;
        }

        h2 {
            position: relative;
            width: 722px;
            max-width: 100%;
            text-align: left;
            font-size: 56px;
            line-height: 130%;
            color: #242C6C;
            z-index: 2;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
            position: relative;
            width: 600px;
            max-width: 100%;
            color: #555557;
            text-align: left;
            font-size: 17px;
            font-weight: 500;
            line-height: 150%;
            z-index: 2;
        }
    }
}